
.settings/
bin/
/target/


# Ignorar backup de imagenes
*.bak.png

# Ignorar backup de script sql
*.bak.sql

# Ignorar archivos de salida
*.out

# Ignorar archivos de bases de datos
*.db
*.db-journal

# Ignorar archivo env.properties
*/env.properties
src/main/resources/env.properties
